* {
    font-family: 'ABeeZee';
    font-size: 20px;
}

.page {
    background-color: #eee;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo {
    background-color: #DDDDDD;
    width: 50px;
    order: 1;
    display: inline-flex;
    justify-content: center;
    padding: 10px;
}

.links {
    display: inline-flex;
    order: 2;
    background-color: #DDDDDD;
    width: 850px;
    list-style: none;
    justify-content: flex-end;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px;
}

.links li {
    margin-left: 10px;
}

.main-area {
    display: flex;
    justify-content: space-around;
}

.content { 
    order: 3;
    background-color: #DDDDDD;
    width: 700px;
    height: 400px;
    padding: 17px;
}

.sidebar {
    order: 4;
    background-color: #DDDDDD;
    margin-left: 20px;
    width: 190px;
    padding-left: 10px;
    padding-top: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #DDDDDD;
    width: 935px;
    padding: 10px;
}