* {
    font-family: 'ABeeZee';
    font-weight: bold;
}

.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
}

div div {
    background-color: #2196F3;
    display: grid;
    place-items: center;
    color: white;
}
.one {
    grid-column: span 10;
    grid-row: 6;

}
.two {
    grid-column: span 7;
    grid-row: 2;
}
.three {
    grid-column: span 3;
    grid-row: 2;
}
.four {
    grid-column: span 3;
    grid-row: 3;
}
.five {
    grid-column: span 7;
    grid-row: 3 / span 3;
}
.six {
    grid-column: span 3;
    grid-row: 4;
}
.seven {
    grid-column: span 3;
    grid-row: 5;
}
.eight {
    grid-column: 1 / span 10;
    grid-row: 1;
}