* {
    font-size: 50px;
    text-align: center;
}

.one {
    font-family: 'Open Sans';
    font-style: italic;
}

.two {
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
}

.three {
    font-family: Jomhuria;
}