* {
    font-family: 'ABeeZee';
}

p {
    background-color: #efefef;
    margin: 0px auto 10px;
    padding-left: 10px;
    width: 400px;
    height: 30px;
    border-left:5px solid #e91e63;
    position: relative;
    line-height: 1.9;
}

p::before {
    content: "";
    position: absolute;
    margin-left: -27px;
    top: 9px;
    height: 0px;
    width: 0px;
    border: 6px solid;
    border-color: transparent #e91e63 transparent transparent;
}

p::after {
    content: attr(data-person);
    position: absolute;
    left: -82px;
    background-color: #efefef;
    width: 65px;
    text-align: center;
}